*{  

    margin: 0;
    padding: 0;
}
body{
    background-color: ghostwhite;
}
#main-slider{
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
#main-slider>div{
    width: 600%;
    margin: 0;
    left: 0;
    position: relative;
    /* height: 50vh; */
    animation: 25s main-slider infinite linear;
}
#main-slider>div>img{
    width: 16.5%;
    
}
@keyframes main-slider{
    0%{left:0}
    10%{left:0}
    13%{left: -100%;}
    30%{left: -100%;}
    33%{left: -200%;}
    45%{left: -200%;}
    47%{left: -300%;}
    60%{left: -300%;}
    63%{left: -400%;}
    78%{left: -400%;}
    80%{left: -500%;}
    98%{left: -500%;}
    100%{left: 0}
}
#top-brands>h2{
    color: rgb(71, 68, 68);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px auto;
}
#top-brands{
    width: 80%;
    margin:70px  auto;
    text-align: center;
}
#top-brands>.brands{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
#top-brands>.brands>div>img{
    width: 100%;
    border-radius: 10px;
}
#top-brands>.brands>div{
    position: relative;
    /* width: 100%; */
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(129, 129, 129, 0.727);
   
}
#top-brands>.brands>div:hover{
    box-shadow: 1px 1px 10px 3px rgba(92, 92, 92, 0.603);
}
#top-brands>.brands>div>div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* margin:0px 30px; */
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background-color: #fff;
    padding: 25px;
    cursor: pointer;
}

#top-brands>.brands>div>div>p:nth-child(1){
    color:#FC2779;
}
#ads1{
    width: 80%;
    margin: 40px auto;
    cursor: pointer;
}
#ads1>img{
    width: 100%;
}
#top-10{
    /* overflow: hidden; */
    overflow-x: auto;
    margin: 50px 0px;
    background-color: #FCF0F2;
}
.top-10_heading{
    width: 100%;
    margin:0;
    background-color: #FCF0F2;
}
.top-10_heading>img{
    width: 100%;
}
#top-10>.content{
    width:160%;
    display: flex;
    /* height: 50vh; */
    position: relative;
    margin:0px auto;

}
#top-10>.content>img{
    width: 30%;
    cursor: pointer ;
    margin: 0px 10px;
}
#top-10>.content>img:hover{
    box-shadow: 1px 1px 10px 3px rgba(245, 52, 162, 0.603); ;
}

#ads2{
    width: 90%;
    margin:40px auto;
    cursor: pointer;
}
#ads2>img{
    width: 100%;
}

#best-seller{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    
}
#best-seller>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}

.container{
    overflow-x: auto;
    position: relative;
    margin: 20px 0px;
    box-shadow: 1px 2px 5px rgba(115, 115, 115, 0.623);
}
.container>.items{
    width:200%;
    display: flex;
    /* height: 40vh; */
    position: relative;
    left: 0;
    margin:0;
}
.container>.items>div{
    width: 20%;
    padding: 20px;
    background-color: #fff;
    margin: 0px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.container>.items>div>img{
    width: 100%;
}
.container>.items>div>p:nth-child(3){
    color: gray;
    margin: 5px;
}
.container>.items>div>p:nth-child(4){
    font-size: 12px;
    margin: 5px;
}
.container>.items>div>p:nth-child(5){
    font-size: 18px;
    margin: 5px;
    font-weight: bold;
}
.container>.items>div>a{
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    display:block;
    text-decoration: none;
    color: #FC2779;
}

#main-category{
    width: 80%;
    margin:10px auto;
}
#main-category>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
#main-category>.box{
    overflow: hidden;
    margin: 10px 0px;
}
#main-category>.box>div{
    position: relative;
    width: 160%;
    /* height: 40vh; */
    left: 0;
    margin: 40px 0px;
    animation: 9s slider2 infinite linear;
}
#main-category>.box>div>img{
    width: 40%;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(115, 115, 115, 0.623);
}
#main-category>.box>div>img:hover{
    box-shadow: 1px 2px 5px 5px rgba(115, 115, 115, 0.623);
}


@keyframes slider2{
    0%{left: 0;}
    50%{left: 0;}
    55%{left: -30%;}
    97%{left: -30%;}
    100%{left: 0;}
}

#editor-choice{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#editor-choice>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
#editor-choice>div{
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#editor-choice>div>img{
    width: 100%;
    /* margin: 0px 10px; */
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(89, 89, 89, 0.656);
}
#editor-choice>div>img:hover{
    box-shadow: 1px 1px 3px 5px rgba(89, 89, 89, 0.401);
    cursor: pointer;
}
#offer{
    width: 80%;
    margin: auto;
}
#offer>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
#offer>.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
    margin: 30px auto;
}
#offer>.items>div{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(114, 114, 114, 0.679);
}
#offer>.items>div:hover{
    box-shadow: 1px 1px 4px 4px rgba(114, 114, 114, 0.488);
    cursor: pointer;
}
#offer>.items>div:nth-child(5){
    grid-area: 2/2/3/3;
}
#offer>.items>div:nth-child(6){
    grid-area: 2/3/3/4;
}
#offer>.items>div>img{
    width: 100%;
    border-radius: 5px;
}

#offer>.items>div>p:nth-child(2){
    color: #FC2779;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
#offer>.items>div>p:nth-child(3){
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}


#gift-card{
    width: 40%;
    margin:40px auto;
}
#gift-card>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
#gift-card>img{
    width: 100%;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 10px;
}

#offer-banner{
    width: 80%;
    margin:20px auto;
}

#offer-banner>img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

#beauty-advice{
    width: 80%;
    margin:50px auto;
}
#beauty-advice>h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
#beauty-advice>.box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px auto;
}
#beauty-advice>.box>img{
    width: 100%;
    border-radius: 10px;
}
#beauty-advice>.box>img:hover{
    box-shadow: 1px 1px 5px 2px rgba(102, 102, 102, 0.606);
    cursor: pointer;
}
#instruction{
    width: 80%;
    margin:30px auto;
}
#instruction>img{
    width: 100%;
    cursor: pointer;
}
#footer1{
    width: 100%;
    background-color: #3F414D;
    padding: 50px 0px;
}
#footer1>.items{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    gap: 40px;
}
#footer1>.items>div{
    padding: 10px;
}
#footer1>.items>div i{
    color: white;
    font-size: 22px;
    display: inline-block;
}
#footer1>.items>div>p{
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0px 5px;
    font-family:Arial, Helvetica, sans-serif;
}
#footer1>.items>div>input{
    border: none;
    border-bottom: 2px solid white;
    width: 12vw;
    margin: 30px 0px;
    background-color:transparent;
    font-size: 22px;
    color: white;
    padding: 5px 10px;
}
#footer1>.items>div>button{
    font-size: 18px;
    padding: 8px;
    background-color:transparent;
    color: white;
    border: 1px solid white;
}
#footer1>.items>div>img{
    display: block;
    margin: auto;
}
#footer2{
    width: 100%;
    background-color: #8C8D94;
    padding: 50px 0px;
}
#footer2>.items{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

}
#footer2>.items>ul{
    list-style: none;
}
#footer2>.items>ul>li{
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 0px;
    color: white;
}
#footer2>.items>ul>li:hover{
    color: #FC2779;
    cursor: pointer;
}

#footer3{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px auto;
    gap: 20px;
}
#footer3>div{
    display: flex;
   
}
#footer3>div>div{
    margin: 0px 10px;
}
#footer3>div h4{
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin: 10px 0px;
}
#footer3>div p{
    color: rgb(85, 85, 85);
}
hr{
    border: 1px solid #FC2779;
}

#footer4{
    width: 100%;
    padding: 15px 0px;
    background-color:#FC2779;
    margin: 40px auto;
}
#footer4>.items{
    width: 40%;
    margin: auto;
}
#footer4>.items>div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}
#footer4>.items>div:nth-child(2){
    justify-content: center;
}

















